@page
@model ProjectSuperhero.Pages.Series.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Serie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie.WikipediaLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.WikipediaLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Serie.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
